.leftBar {

    .container {

        padding: 20px;
        .menu {

            display: flex;
            flex-direction: column;
            gap: 20px;

            .user {

                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span{
                    font-weight: 500;
                }
            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;


                img {
                    width: 30px;

                }
                span{

                }
            }
        }
    }
}