.leftBar {
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    flex: 2;

    .container {

        padding: 20px;

        hr{
            margin: 10px 0;
            border: 0;
            height: 0.5px;
            background-color: lightgray;
        }
        .menu {


            span{
               font-size: 13px;
               color: rgb(0, 0, 0)
            }
            display: flex;
            flex-direction: column;
            gap: 18px;

            .user {

                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                img{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                span{
                    font-weight: 500;
                }
            }

            .item {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;


                img {
                    width: 30px;

                }
                span{
                    font-size: 14px;
                    color: black;

                }
            }
        }
    }
}