.rightBar{
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
   
    overflow: scroll;

    &::-webkit-scrollbar{
        display: none;
    }

    .container{
        padding: 20px;

        .item{
            padding: 20px;

            box-shadow: rgba(14 ,190, 233,0.8) 0px 3px 6px, rgb(93, 135, 255,0.8)  0px 3px 6px;
            margin-bottom: 20px;
        span{

            color: gray;
        }
        .user{

            display: flex;
            align-items:center;
            justify-content: space-between;
            margin: 20px 0px;

            .userInfo{
                display: flex;
                align-items:center;
                gap: 20px;
                position: relative;

                img{

                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: contain;
                }
                .online{
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: rgb(5, 123, 13);
                    position: absolute;
                    top: 0;
                    left: 40px;
                }
                p{
                    color: gray;
                }
                span{
                    font-weight: 600;
                    color: black;

                }
            }
            .buttons{
                display: flex;
                align-items:center;
                gap: 10px;
            
                button{
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    padding: 10px;
                    border-radius: 20px;
                    font-weight: bold;

                    &:first-child{
                        background-color: rgba(243, 12, 12, 0.345);
                        color: rgb(6, 6, 6);
                    }
                    &:last-child{
                        background-color: rgba(12, 70, 243, 0.345);
                        color: rgb(0, 0, 0);
                    }


                }
            }
        }
        }
    }
}